<footer class="footer">
  <small>
    <a href="http://www.curtisgagliardi.com">curtis</a>
    by curtis
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About',    about_path %></li>
      <li><%= link_to 'Contact',  contact_path%></li>
      <li><a href="http://curtisgagliardi.com">me</a></li>
    </ul>
  </nav>
</footer>
